
  #contact-form {
    background-image: none;
    max-width: 80rem;
    margin: 0 auto;
    border-radius: 32px;
    display: flex;
    padding: 100px;
    
  }
  .title-c{
    margin-top: -100px;
    margin-right: 80px;
    font-size: 2.4rem;
    color: rgb(130, 108, 108);
    font-family: Lato, sans-serif;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    /* text-shadow: 2px 2px 4px #dcd4d4; */
  }
  #contact, label, input[name="submit"] {
    position: relative;
    margin-left: 12px;
    align-items: center;
    width: 32vw;
    color: bisque;

  }
  label > span, input, textarea, button {
    box-sizing: border-box;
    border-radius: 12px;
    
  }
  label {
    display: block;
  }
  label > span {
    display: none;
  }
  input, textarea, button {
    width: 100%;
    padding: 0.5em;
    border: none;

  }
  input[type="text"], input[type="email"], textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
  }
  input.invalid, textarea.invalid {
    border-color: #d5144d;
  }
  textarea {
    height: 6em;
  }
  input[type="submit"], button {
    background: rgb(34, 197, 230);
    border-radius: 12px;
    color: #d3baba;
    background:#2c2024;
    border: 2px solid #d3baba;;
    width: 24vw;
    font-family: Lato, sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    left: 39px;
  }
  input[type="submit"]:hover, button:hover {
    background:#36262b;
    color: rgb(201, 112, 112);
    transform: scale(1.1);
  }
  @media screen and (min-width: 30em) {
    #contact-form h2 {
      margin-left: 26.3736%;
      font-size: 2em;
      line-height: 1.5;
    }
    label > span {
      vertical-align: top;
      display: inline-block;
      width: 26.3736%;
      padding: 0.5em;
      border: 1px solid transparent;
      text-align: right;
    }
    input, textarea, button {
      width: 73.6263%;
      line-height: 1.5;
    }
    textarea {
      height: 10em;
    }
    input[type="submit"], button {
      margin-left: 26.3736%;
    }
  }
  @media screen and (min-width: 48em) {
    #contact-form {
      text-align: justify;
      line-height: 0;
    }
    #contact-form:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    #contact-form h2 {
      margin-left: 17.2661%;
    }
    #contact-form form, #contact-form aside {
      vertical-align: top;
      display: inline-block;
      width: 65.4676%;
      text-align: left;
      line-height: 1.5;
    }
    #contact-form aside {
      width: 30.9353%;
    }
  }