/* Hero */

.hero {
    background-image: url("../../img/hero.jpeg");
    background-size: cover;
    background-position: center;
    height: 27vw;
    margin-top: -16px;
    margin-left: -16px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-title {
    
    font-size: 4.4rem;
    color: rgb(26, 17, 17);
    text-shadow: 2px 2px 4px #eae0e0;
  }
  
  /* Carousel Style */

  .carousel .slide {
    
    font-size: 3.6rem;
    background-color: rgb(216, 222, 230);
    border-radius: 10px;
    color: rgb(106, 48, 192);
    box-shadow: 0 2px 4px rgba(227, 55, 55, 0.2);
    text-align: center;
    overflow: hidden;
    transform-style: preserve-3d; /* Add 3D transformation */
    perspective: 1000px; /* Set the perspective for 3D */
    transition: transform 500ms ease-in-out; /* Add transition animation */
  }
  
  .carousel .slide img {
    border-radius: 22%;
    padding: 22px;
    width: 60%;
    height: 30vw;
    transform: translateZ(0); /* Enable hardware acceleration */
  }
  
  .carousel .legend {
    color: rgb(16, 5, 5);
    background-color: rgba(127, 234, 160, 0.5);
    padding: 10px;
    font-weight: bolder;
    font-size: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .hero {
      height: 300px;
    }
    
    .hero-title {
      font-size: 2rem;
    }
  }

  